<div class="post">
  <h1>
    <%= link_to post.title, post %>
  </h1>
  <hr>
  <div class="in-content">
    <p>
      <%= post.content %>
    </p>
    <%= link_to "Read more", post, class: "read-more" %>
  </div>
  <div class="foot-post">
    <div class="units-row">
      <div class="unit-100">
        <strong>Tags:</strong>
          <% if post.tags.any? %>
            <% post.tags.each do |tag| %>
              <%= link_to tag.name %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
