<div class="main-nav">
  <div class="container">
    <header class="group top-nav">
      <nav class="navbar logo-w navbar-left" >
        <a class="logo" href="index.html">Blog</a>
      </nav>
      <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
        <span class="logo">Blog</span>
      </div>
      <nav id="navbar-1" class="navbar item-nav navbar-right">
        <ul>
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Post", posts_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
        </ul>
      </nav>
    </header>
  </div>
</div>
